.mainCard{
    width: 400px;
    min-height: 400px;
    background-color: orange;
    margin:auto;
    margin-top: 70px;
    border-radius: 20px;
}

.flex{
    display:"flex";
    justify-content: center;
    align-items: center;
}

.input{
    margin: 0 10%;
    margin-top: 20px;
    height: 30px;
    border-radius: 50px;
    border:none;
    outline: none;
    width: 300px;
    padding: 4px;
    padding-left: 20px;
    font-size: 19px;
}

.pending{
    margin: 0 10%;
    margin-top: 10px;
}

.completed{
    margin: 0 10%;
    margin-top: 20px;
    padding-bottom: 20px;
}

.heading{
    font-size: 30px;
    font-weight: bold;
}

.resetContainer{
    display: flex;
    justify-content: flex-end;
    width:auto;
    margin: 0 10%;
    margin-top: 20px;
}

.resetButton{
    background-color:white;
    padding:7px;
    border-radius:20px;
    margin-top: 10px;
}

.pendingItem{
    background-color: white;
    padding: 9px;
    margin: 10px;
    border-radius: 20px;
}

.completedItem{
    background-color: rgb(157, 199, 30);
    padding: 9px;
    margin: 10px;
    border-radius: 20px;
    color: white;
    border: 1px solid white;
}

.hashtag{
        margin: 20px 10%;
}

.hashtag > input{
    border-radius: 20px;
    border: none;
    outline:none;
    padding: 5px;
    margin-top: 5px;
    padding-left: 10px;
}